@charset "UTF-8";
/*color palette*/
/*чтобы паддинги и бордеры не влияли
  на ширину блоков*/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
}

.background-cat {
  background: none;
}

.container {
  padding: 0 20px;
}

@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .container {
    padding: 0 110px;
  }
}
.header {
  background-color: #fff;
}
.header__inner {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-tablet {
  display: none;
}

@media (min-width: 768px) {
  .header__inner {
    min-height: 80px;
  }
  .header .logo-2, .header .logo {
    display: none;
  }
  .header .logo-tablet {
    display: block;
  }
  .background-cat {
    background: none;
  }
}
@media (min-width: 1440px) {
  .header {
    background-color: transparent;
  }
  .header__inner {
    min-height: 80px;
  }
  .header .logo-2, .header .logo {
    display: none;
  }
  .header .logo-tablet {
    display: block;
  }
}
.menu__btn {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #fff;
  border: none;
  position: relative;
}
.menu__btn::after {
  content: "";
  height: 2px;
  width: 20px;
  border-radius: 1px;
  background-color: #000;
  position: absolute;
  top: 8px;
  left: 10px;
  box-shadow: 0 4px 0 0 #000, 0 8px 0 0 #000;
}

.menu__catalog {
  display: none;
}

@media (min-width: 768px) {
  .menu__btn {
    display: none;
  }
  .menu__catalog {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    font-weight: 1000;
    min-width: 440px;
  }
  .menu__catalog___item:hover {
    border-bottom: solid 1px #68B738;
  }
}
@media (min-width: 1440px) {
  .menu__btn {
    display: none;
  }
  .menu__catalog {
    display: flex;
    justify-content: space-between;
    color: transparent;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    min-width: 478px;
    color: #fff;
  }
  .menu__catalog___item:hover {
    border-bottom: solid 1px #fff;
  }
}
.head__inner {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.head___mainheading {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
  margin-top: 27px;
  margin-bottom: 25px;
  max-width: 200px;
  text-align: center;
}
.head___lowerheading {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  color: #fff;
}
.head___select-programm {
  height: 40px;
  width: 280px;
  background-color: #68B738;
  color: #fff;
  border: none;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
}

.tablet-prod {
  display: none;
}

@media (min-width: 768px) {
  .head .mobile-prod {
    display: none;
  }
  .head .tablet-prod {
    display: block;
    margin: 0 auto;
  }
  .head__inner {
    background: url(/img/index-can-tablet\ 1.png);
    background-size: contain;
    min-height: 909px;
    background-position: 19px 250px;
    background-position-y: 200px;
    background-repeat: no-repeat;
  }
  .head___mainheading {
    font-family: "Oswald", sans-serif;
    font-size: 60pxpx;
    font-weight: 600;
    color: #000;
    margin-top: 27px;
    margin-bottom: 25px;
    max-width: 300px;
    text-align: left;
  }
  .head___p {
    align-items: flex-start;
    position: relative;
  }
  .head___lowerheading {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    color: #000;
  }
  .head___select-programm {
    height: 54px;
    width: 244px;
    background-color: #68B738;
    color: #fff;
    border: none;
    font-family: "Oswald", sans-serif;
    margin-top: 50px;
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .background-cat {
    background: url(/img/index-background-desktop.png);
    min-height: 696px;
    align-items: left;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }
  .head__inner {
    background: url(/img/index-can.png);
    display: flex;
    flex-direction: column;
    align-items: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .head___mainheading {
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    font-weight: 800;
    padding-left: 70px;
    min-width: 440px;
    color: #000;
    margin-top: 120px;
    margin-bottom: 25px;
    text-align: left;
  }
  .head___lowerheading {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    font-weight: 500;
    padding-left: 70px;
    color: #000;
  }
  .head___select-programm {
    height: 54px;
    width: 244px;
    margin-left: 70px;
    background-color: #68B738;
    color: #fff;
    border: none;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
  }
}
.head__cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  min-width: 320px;
  background: url(/img/index-background-mobile\ 1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) {
  .head__cat {
    background: none;
    width: 83px;
    align-items: flex-start;
    padding-left: 117px;
  }
  .tablet-prod {
    width: 709px;
  }
}
.cat-cards___card {
  background-color: #EAEAEA;
  margin: 20px 0;
  padding: 20px;
}
.cat-cards____title {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .cat-cards-tablet .cat-cards___card {
    display: flex;
  }
}
@media (min-width: 1440px) {
  section.cat-cards-tablet {
    display: none;
  }
  section.cat-cards {
    display: block;
  }
  section.cat-cards___card {
    max-width: 570px;
  }
  .cat-cards__inner {
    display: flex;
  }
  .cat-cards___card {
    margin: 80px;
    min-width: 570px;
  }
}
.title-card {
  margin-left: 11px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
}

@media (min-width: 768px) {
  .title-card {
    text-decoration: none;
    color: #000;
    font-family: "Oswald", sans-serif;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 800;
    line-height: 30px;
  }
}
@media (min-width: 1440px) {
  .title-card {
    text-decoration: none;
    color: #000;
    font-family: "Oswald", sans-serif;
    margin: 50px 0;
    font-size: 36px;
    font-weight: 800;
    line-height: 30px;
    padding: 0 50px;
  }
}
.card-text {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.cat-cards___line {
  background: url(/img/Line\ 18.svg);
  min-height: 2px;
  margin: 20px 0;
}

.card-link {
  text-decoration: none;
  color: #000;
  font-family: "Oswald", sans-serif;
}

@media (min-width: 768px) {
  .card-link {
    text-decoration: none;
    color: #000;
    font-family: "Oswald", sans-serif;
    margin: 50px 0;
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
  }
}
.cat-cards-tablet {
  display: none;
}

@media (min-width: 768px) {
  .cat-cards {
    display: none;
  }
  .cat-cards-tablet {
    display: block;
  }
  .tablet-card {
    width: 200px;
    height: 211px;
    margin: 80px 19px;
  }
  .cat-cards__first {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.how-works___title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
}

@media (min-width: 768px) {
  .how-works___mini-cards {
    display: flex;
  }
}
.how-works___mini-card {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .how-works___mini-card {
    flex-direction: column;
    width: 230px;
    height: 280px;
  }
}
.how-works___mini-card-text {
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 18px;
  padding-left: 20px;
}/*# sourceMappingURL=style.css.map */