@import 'var';
@import 'fonts';

/*чтобы паддинги и бордеры не влияли
  на ширину блоков*/
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*,*::after,*::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    overflow-x: hidden;
}

.background-cat {
    background: none;
}

.container {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .container {
        padding: 0 30px;
    }
}

@media (min-width: 1440px) {
    .container {
        padding: 0 110px;
    }
}

.header {
    background-color: #fff;
    &__inner {
        min-height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo-tablet {
        display: none;
    }
}

@media (min-width: 768px) {
    .header {
        &__inner {
            min-height: 80px;
        }
        .logo-2, .logo {
            display: none;
        }
        .logo-tablet {
            display: block;
        }
    }
    .background-cat {
        background: none;
    }
}

@media (min-width: 1440px) {
    .header {
        background-color: transparent;
        &__inner {
            min-height: 80px;
        }
        .logo-2, .logo {
            display: none;
        }
        .logo-tablet {
            display: block;
        }
    }
}

.menu__btn {
    width: 30px;
    height: 30px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;
    &::after {
        content: "";
        height: 2px;
        width: 20px;
        border-radius: 1px;
        background-color: #000;
        position: absolute;
        top: 8px;
        left: 10px;
        box-shadow: 0 4px 0 0 #000, 0 8px 0 0 #000;
    }

}

.menu__catalog {
    display: none;
}

@media (min-width:768px) {
    .menu__btn {
        display: none;
    }
    .menu__catalog {
        display: flex;
        justify-content: space-between;
        font-family: $heading-font;
        font-size: $nav-font-size;
        font-weight: 1000;
        min-width: 440px;
        &___item:hover {
            border-bottom: solid 1px $accent;
        }
    }
}

@media (min-width:1440px) {
    .menu__btn {
        display: none;
    }
    .menu__catalog {
        display: flex;
        justify-content: space-between;
        color: transparent;
        font-family: $heading-font;
        font-size: 20px;
        font-weight: 400;
        min-width: 478px;
        color: #fff;
        &___item:hover {
            border-bottom: solid 1px #fff;
        }
    }
}

.head {
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: left;
        
    }
    &___mainheading {
        font-family: $heading-font;
        font-size: 36px;
        font-weight: 600;
        color: #fff;
        margin-top: 27px;
        margin-bottom: 25px;
        text-align: center;
    }
    
    &___lowerheading {
        font-family: $heading-font;
        font-size: 14px;
        font-weight: 400;
        margin-top: 0;
        color: #fff;
    }
    &___select-programm {
        height: 40px;
        width: 280px;
        background-color: $accent;
        color: #fff;
        border: none;
        font-family: $heading-font;
        font-size: 14px;
    }
}

.tablet-prod {
    display: none;
}

@media (min-width:768px){
    .head {
        .mobile-prod {
            display: none;
        }
        .tablet-prod {
            display: block;
            margin: 0 auto;
        }
        &__inner {
            background: url(/img/index-can-tablet\ 1.png);
            background-size: contain;
            min-height: 909px;
            background-position: 19px 250px;
            background-position-y: 200px;
            background-repeat: no-repeat;
        }

        &___mainheading {
            font-family: $heading-font;
            font-size: 60pxpx;
            font-weight: 600;
            color: #000;
            margin-top: 27px;
            margin-bottom: 25px;
            max-width: 300px;
            text-align: left;
        }
        &___p {
            align-items: flex-start;
            position: relative;
        }
        &___lowerheading {
            font-family: $heading-font;
            font-size: 20px;
            font-weight: 400;
            margin: 0;
            text-align: left;
            color: #000;
        }
        &___select-programm {
            height: 54px;
            width: 244px;
            background-color: $accent;
            color: #fff;
            border: none;
            font-family: $heading-font;
            margin-top: 50px;
            font-size: 14px;
        }
    }
}

@media (min-width:1440px) {
    .background-cat {
        background: url(/img/index-background-desktop.png);
        min-height: 696px;
        align-items: left;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
    }
    .head {
        &__inner {
            background: url(/img/index-can.png);
            display: flex;
            flex-direction: column;
            align-items: left;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            
        }
        &___mainheading {
            font-family: $heading-font;
            font-size: 36px;
            font-weight: 800;
            padding-left: 70px;
            min-width: 440px;
            color: #000;
            margin-top: 120px;
            margin-bottom: 25px;
            text-align: left;
        }
        
        &___lowerheading {
            font-family: $heading-font;
            font-size: 20px;
            font-weight: 400;
            margin-top: 0;
            font-weight: 500;
            padding-left: 70px;
            color: #000;
        }
        &___select-programm {
            height: 54px;
            width: 244px;
            margin-left: 70px;
            background-color: $accent;
            color: #fff;
            border: none;
            font-family: $heading-font;
            font-size: 20px;
        }
    }
}

.head__cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    min-width: 414px;
    background: url(/img/index-background-mobile\ 1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width:768px) {
    .head__cat {
        background: none;
        width: 83px;
        align-items: flex-start;
        padding-left: 117px;
    }
    .tablet-prod {
      width: 709px;
    }
}